<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<link rel="stylesheet" href="login.css">
</head>

<body>
	
	
	<section class="container">
            <h1>Login</h1>
      
   	
		

		<form action="/login" method="post">
                    <label for="username" class="user">Usuario:</label>
                        <input type="text" id="username" placeholder="Username" name="username" required ><br><br>

                        <label for="password" class="pass">Contraseña:</label>
                        <input type="password" id="password" name="password" placeholder="Password" required><br><br>

			<input type="submit" value="Iniciar Sesión">
		</form>
            
            
	</section>

	<p th:if="${param.error != null}">Credenciales incorrectas. Verifique e inténtelo de nuevo.</p>
</body>

</html>